
<h2>Callback</h2>

<form method="get" action="FindContact">
    <div><span>Access Token</span> <input type="text" name="AccessToken" value="@ViewData["AccessToken"]" /></div>
    <div><span>Email</span> <input type="text" name="Email" /></div>
    <input type="submit" value="Find Contact in Infusionsoft" />
</form>